[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypitunatsinghuaedu"

[packages]
numpy = "*"
transformers = "*"
torch = "*"
label-studio = "*"
paddlepaddle = {version = "*", index = "pypitunatsinghuaedu"}
paddleocr = ">=2.0.1"

[dev-packages]

[requires]
python_version = "3.11"
